{% extends 'base.html' %}
{% load bootstrap %}
{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<h1>Redefinição de senha</h1>
<span>Fique atento a sua caixa de mensagens, em breve um e-mail chegará para você redefinir sua senha.</span>
<p>Não esqueça de checar a caixa de spam.</p>

<form method="post">
    {% csrf_token %}
    {{form|bootstrap}} <br>
    <button class="btn btn-primary">Me envie o e-mail</button>
</form>
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}