{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Listagem de todas as pessoas</h1>
        </div>
        <div class="col-12">
            <ul>
                {% for person in object_list %}
                    <li>{{person.first_name}} {{person.last_name}}</li>
                    <a href="{% url 'person_update_cbv' person.id %}">Atualizar</a>
                    <a href="{% url 'person_detail_cbv' person.id %}">Detalhes</a>
                    <a href="{% url 'person_delete_cbv' person.id %}">Deletar</a>
                    <hr>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            <a href="{% url 'logout' %}" class="btn btn-secondary">Sair</a>
        </div>
        <div class="col-6" style="text-align: end;">
            <a href="{% url 'person_create_cbv' %}" class="btn btn-primary">Nova pessoa</a>
        </div>
    </div>
{% endblock content %}