{% extends 'base.html' %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<h1>Dashboard</h1>

<ul>
    <li>Ticked médio: {{media_valor}}</li>
    <li>Desconto médio: {{media_desconto}}</li>
    <li>Menor venda: {{menor_valor_venda}}</li>
    <li>Maior venda: {{maior_valor_venda}}</li>
    <li>Quantidade total de vendas: {{quantidade_total_vendas}}</li>
    <li>Quantidade total de vendas com a nota fiscal emitida: {{quantidade_total_vendas_com_nota_fiscal_emitida}}</li>
</ul>
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}