{% extends 'base.html' %}
{% load bootstrap %}
{% block content %}
    <h1>Tela para criar novas pessoas</h1>
    <form action="{% url 'person_create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                {{form|bootstrap}}
            </div>
            <div class="col-6 mt-2">
                <a href="javascript:history.back();" class="btn btn-secondary">Voltar</a>
            </div>
            <div class="col-6 mt-2" style="text-align: end;">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </div>
    </form>
{% endblock content %}